[submodule "by_Vdovina"]
	path = by_Vdovina
	url = https://github.com/Alisa11110000/oap_progi
[submodule "by_Serebryannikov"]
	path = by_Serebryannikov
	url = https://github.com/StudLabs/OAP_tell_about
[submodule "by_Chernov"]
	path = by_Chernov
	url = https://github.com/macJIuHa/OAP_11_1
